.bg-container2 {
    min-width: 100%;
    min-height: 100vh;
    background-image: url(../Images/hotel.gif);
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

.body {
    min-width: 1024px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 22px;
}

.hotel--container {
    display:flex;
    margin-top: 20px;
    padding:20px;
    width: 100%;
    border-radius: 5px;
    max-width:1024px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255,.9);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.hotel--wrapper {
    width:100%;
    max-width: 1024px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.hotel--rooms {
    border-top: 1px lightgrey solid;
    padding-top: 10px;
}
