.searchItem {
    border-top: 1px solid lightgrey;
    padding:10px;
    display:flex;
    justify-content: space-between;
    gap:20px;
    height:200px;
    margin-bottom: 10px;
}

.si--image {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 5px;
}

.si--desc {
    display:flex;
    flex-direction: column;
    flex: 2;
}

.si--name {
    font-size:20px;
    letter-spacing: -0.5px;
}

.si--small{
    display:flex;
    flex-direction: column;
    font-size:12px;
    font-weight: 500;
}

.si--distance {
    color:brown;
}
.si--description {
    font-size:13px;
    margin-top:5px;
    letter-spacing: -0.5px;
    overflow: hidden;
}

.si--description > div {
    -webkit-column-width: 195px;
    column-width: 195px;
    height: 100%;
}

.si--details {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.si--rating {
    display:flex;
    align-items: center;
    justify-content: right;
}

.si--rating > span {
    font-weight: 600;
}

.si--rating > button {
    background-color: cornflowerblue;
    color:white;
    border: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-right: 7px;
}

.si--pricing {
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: right;
}

.si--from {
    font-size: 12px;
    color:grey;
}

.si--price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.si--check {
    background-color: cornflowerblue;
    font-size: 15px;
    color:white;
    padding:7px 15px;
    border:none;
    width:fit-content;
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer;
}
