.hotel--container {
    display:flex;
    margin-top:20px;
    justify-content: center;
}

.hotel--wrapper{
    width:100%;
    max-width: 1024px;
    display:flex;
    flex-direction: column;
    gap:5px;

}

.hotel--header {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

    .hotel--name {
        display: flex;
        gap: 10px;
    }

    .hotel--name > h1{
        font-size: 26px;
    }

    .hotel--address{
        font-size: 15px;
        font-weight: 500;
        display:flex;
        align-items: center;
        gap:10px;
        padding: 5px;
    }

    .hotel--price {
        display:flex;
        flex-direction: column;
        align-items:flex-end;
        justify-content: right;
    }
    
    .hotel--price > .price {
        font-size: 26px;
        font-weight: bold;
    }
    
    .hotel--price > .subtext {
        font-size: 12px;
        color:grey;
        margin-bottom: 5px;
    }
    
    .hotel--choose {
        background-color: cornflowerblue;
        font-size: 15px;
        color:white;
        padding:7px 15px;
        border:none;
        width:fit-content;
        font-weight: bold;
        border-radius: 5px;
        cursor:pointer;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, 
                    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }


.hotel--body {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px lightgrey solid;
    align-items: flex-start;
}

    .hotel--images {
        flex: 1;
        height:65vh;
        object-fit: cover;
        border-radius: 5px;
        background-image: url("https://static.vecteezy.com/system/resources/previews/004/141/669/original/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg");
        background-position: center;
        background-size:cover;
    }

    .hotel--details {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0px 20px;
        gap:10px;
    }


    .hotel--location > img {
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .hotel--state {
        display:flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        font-weight: 500;
        padding: 5px;
        padding-bottom: 15px;
        border-bottom: 1px lightgrey solid;
    }

    .hotel--rating {
        padding-top: 10px;
        display:flex;
        flex-direction: column;
        gap: 10px;
    }

    .hotel--rating > span {
        font-weight: bold;
    }

    .hotel--rating > span > button {
        background-color: cornflowerblue;
        color:white;
        border: none;
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
        margin-right: 7px;
    }


.hotel--description {
    flex: 1;
    font-size: 14px;
    padding-right: 40px;
}

.hotel--details2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    gap:10px;
}

.hotel--amenities {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}









