.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.834)
        url("/public/ghost-loader.gif") center
        no-repeat;
    z-index: 1;
    background-size: 50vh;
  }